@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik";
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #000000;
}

/* Estilizando o MENU */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  background-color: #a67b5b;
  padding: 0px 24px;
}

.logoInicio img {
  width: 110px;
}

.listInicio ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  list-style: none;
  margin-left: 200px;
}

.listInicio li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  transition: all 0.4s;
}

.listInicio li a:hover {
  color: white;
  background-color: #a06732;
  border-radius: 10px;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pesquisar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pesquisar input {
  padding: 10px 20px;
  background: #f3dbb2;
  border-radius: 8px;
  border: 0.5px solid #9b7550;
  width: 18.5rem;
  color: #96724e;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  transition: all 0.4s;
}

.pesquisar input::placeholder {
  color: #967452;
}

.pesquisar input:hover {
  border: 0.5px solid #88674e;
}

.pesquisar input:focus {
  padding: 12px;
  background: #f3e5cc;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.icon ion-icon {
  color: #ffffff;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.4s;
}

.icon ion-icon:hover {
  color: white;
  background-color: #a06732;
  border-radius: 10px;
  padding: 7px;
}

/*Finalizando MENU*/

hr {
  border: none;
  border-bottom: solid 2px #5f4735;
}

/*Estilizando SECTION*/

.banner {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.850), rgba(0, 0, 0, 0.700)), url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  text-align: center;
}
.titleConteudo h1{
  color: white;
  font-size: 100px;
  font-weight: 600;
  word-spacing: 5px;
}

.hrConteudo{
  border: none;
  border-bottom: 2px solid #f3f3f3;
  width: 1000px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.subtitleConteudo p{
  color: white;
  font-size: 30px;
  font-weight: 500;
  word-spacing: 5px;
  margin-top: 10px;
  padding: 0px 50p;
}

.botao{
  margin-top: 30px;
  display: inline-block;
}

.botao .botao1{
  padding: 10px 25px;
  background: #a67b5b;
  color: white;
  font-weight: 500;
  text-decoration: none;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition:all 0.4s;
  padding: 17px 40px;
  margin-right: 20px;
}

.botao .botao2{
  border: 1px solid rgb(255, 255, 255);
  background: transparent;
  color: white;
  font-weight: 500;
  text-decoration: none;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.4s;
  padding: 15px 40px;
}

.botao  a:hover{
    border: 1PX solid #a06732;
    background-color: #a06732;
    padding: 20px 50px;
    transition: all 0.4s;
}
