@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik";
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #000000;
}

/* Estilizando o MENU */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    background-color: #A67B5B;
    padding: 0px 24px;
}

.logoInicio img {
    width: 110px;
}

.listInicio ul {
    display: flex;
    justify-content:center; 
    align-items: center; 
    gap: 3.5rem; 
    list-style: none;
    margin-right:900px;
}

.listInicio li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.4s;
}

.listInicio li a:hover {
    color: white;
    background-color: #a06732;
    border-radius: 10px;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pesquisar {
    display: flex;
    align-items: center; 
    gap: 10px;
}

.pesquisar input {
    padding: 10px 20px;
    background: #f3dbb2;
    border-radius: 8px;
    border: 0.5px solid #9b7550;
    width: 18.5rem;
    color: #96724e;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    transition: all 0.4s;
}

.pesquisar input::placeholder {
    color: #967452;
}

.pesquisar input:hover {
    border: 0.5px solid #88674e;
}

.pesquisar input:focus {
    padding: 12px;
    background: #f3e5cc;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.icon ion-icon {
    color: #ffffff;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.4s;
}

.icon ion-icon:hover {
    color: white;
    background-color: #a06732;
    border-radius: 10px;
    padding: 7px;
}

/*Finalizando MENU*/

hr {
    border: none;
    border-bottom: solid 2px #cfa761;
}